html,body {
	overflow: hidden;
}

html {
	
}

body {
	-webkit-user-select: none;
}

img {
	/*-webkit-app-region: drag;*/
	/*-webkit-user-select: none;*/
	/*-webkit-user-drag: none;*/
}

button {
  	
}

section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	/*-webkit-user-drag: element;*/
}