<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../css/auth-style.css">
  </head>
  <body ng-controller="MainCtrl">
    <!-- <img style="width:100px;height:100px;" src="../icon/icon.png" ng-click="fuck()"> -->
    <!-- <div class="mask"></div> -->

    <!-- <script type="text/javascript" src="js/angular.min.js"></script>
    // <script type="text/javascript" src="js/ng-file-upload.min.js"></script>

    // <script type="text/javascript" src="js/personal/window.drag.js"></script>
    // <script type="text/javascript" src="js/personal/window.contextmenu.js"></script>
    // <script type="text/javascript" src="js/personal/window.ui.js"></script>
    // <script type="text/javascript" src="js/personal/window.drop.js"></script>
    // <script type="text/javascript" src="js/personal/minddrop.core.js"></script> -->

    <div class="auth-title">MindDrop</div>

    <div class="auth-container">

      <div layout layout-sm="column">
        <md-input-container flex>
            <label>First name</label>
            <input ng-model="user.useinfo">
        </md-input-container>
        
      </div>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Password</label>
          <input type="password" ng-model="user.password">
        </md-input-container>     
      </div>

      <md-button class="md-raised login-button">
        Login
      </md-button>

    </div>

    


    <div class="auth-footer">
      Copyright© 2013-2015 BuildMind Technology
    </div>


    <script type="text/javascript">
	  window.gui = require('nw.gui');
		window.win = gui.Window.get();	
		win.showDevTools();

    window.angular=global.angular;

		// var hackModules=['window.drag','window.contextmenu','window.drop','minddrop.core','window.ui'];
		// var thirdPartyModules=['ngFileUpload'];
		// var concatModules=hackModules.concat(thirdPartyModules)
		angular.module('auth',['ngMaterial'])
    .controller('MainCtrl',function($scope){

    })

    angular.bootstrap(document,['auth'])
		// .controller('MainCtrl',function($scope){})
	</script>
  </body>

  
</html>
