<!DOCTYPE html>
<html lang="en" ng-app="note">
<head>
	<meta charset="UTF-8">
	<title>New Notes</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/textAngular.css">
	<link rel="stylesheet" type="text/css" href="css/note.css">
</head>
<body ng-controller="MainCtrl">

	<div class="note-editor" ng-class="{'away':!editing}">
		<div class="note-header">
		{{time}}
			<div class="note-send-button" ng-click="sendNotice($event)">發送</div>
		</div>
		<text-angular ng-model="$content.html" ta-toolbar="[['bold','italics'],['insertImage','insertLink','insertVideo']]" ta-file-drop="drop($event)"></text-angular>
	</div>
	<div class="note-send-list" ng-class="{'in':!editing}">
		<div class="note-header">
		選擇發送人
			<div class="note-edit-button" ng-click="editNotice()">編輯</div>
		</div>

		<input type="text"> IP
	</div>

	


	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>
	<script type="text/javascript" src="js/textAngular/textAngular-rangy.min.js"></script>
	<script type="text/javascript" src="js/textAngular/textAngular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/textAngular/textAngular.min.js"></script>
	

	<script type="text/javascript">

	/**
	* note Module
	*
	* Description
	*/
	window.gui = require('nw.gui');
	window.win = gui.Window.get();	
    gui.Screen.Init();
    win.showDevTools();



	angular.module('note', ['textAngular']).
	controller('MainCtrl', ['$scope','$content','$http', function($scope,$content,$http){
		$scope.time=moment().format('MMM DD YYYY');
		$scope.editing=true;

		$scope.$content=$content;

		$scope.drop=function(ev){
			console.log(ev);
		}

		$scope.sendNotice=function(ev){
			$scope.editing=false;

			$http.post('http://localhost:10087',{
				html:$content.html
			}).success(function(){
				console.log('wtf good')
			}).error(function(err){
				console.log('wtf error')
			})
		}

		$scope.$on('sendNotice',function(){
			$scope.editing=false;
		})

		$scope.editNotice=function(){
			$scope.editing=true;
		}

	}])
	.controller('NoticeSendController', ['$scope','$timeout', function($scope,$timeout){
		
	}])
	.run(function($contextmenu,$content,$rootScope,$timeout){
		angular.element(document).find('text-angular').bind('contextmenu',function(ev){
			ev.preventDefault();
			$contextmenu.popup(ev.x,ev.y);
			return false;
		})

		win.on('loaded',function(){
	    	$timeout(function(){
	    		console.log(window.note);
	    		if (window.note && window.note!=''){
					$content.html=window.note;
				}
	    	},0)
	    })

		
	})
	.factory('$content', ['$rootScope', function($rootScope){
		return {
			html:'',
		}
	}])
	.factory('$contextmenu', ['$rootScope','$content', function($rootScope,$content){
			var contextMenu = new gui.Menu();
			// upload file
			var sendNoteItem = new gui.MenuItem({
			  type: "normal", 
			  label: "   發送便簽",
			  icon:"app/icon/context-menu/new.png"
			});

			sendNoteItem.click=function(){
				$rootScope.$broadcast('sendNotice');
				$rootScope.$digest();
				console.log($content.html);
			}

			contextMenu.append(sendNoteItem); 

			contextMenu.append(new gui.MenuItem({ type: 'separator' }));

			var deleteNotice = new gui.MenuItem({
			  type: "normal", 
			  label: "   刪除便簽",
			  icon:"app/icon/context-menu/delete.png"
			});

			deleteNotice.click=function(){
				win.close();
			}

			contextMenu.append(deleteNotice); 



			var popup=function(x,y){
				contextMenu.popup(x,y);
			}



			return {
				popup:popup
			}

	}])
	</script>
</body>
</html>

