<ion-popover-view>

	<ion-content
		scroll="false"	
	> 
		<ion-list>
	        <ion-item menu-close class="item item-icon-left" ng-click="uploadType('image')">
	          <i class="icon ion-image" ></i>
	          Upload Images
	        </ion-item>
	        <ion-item menu-close class="item item-icon-left" ng-click="uploadType('audio')">
	          <i class="icon ion-volume-medium"></i>
	          Upload Audios
	        </ion-item>
	        <ion-item menu-close class="item item-icon-left" ng-click="uploadType('video')">
	          <i class="icon ion-ios-videocam"></i>
	          Upload Videos
	        </ion-item> 
	        <ion-item menu-close class="item item-icon-left" ng-click="uploadType('application')">
	          <i class="icon ion-ios-folder"></i>
	          Upload Files
	        </ion-item>
	        <ion-item menu-close class="item item-icon-left" ng-click="watchShare()">
	          <i class="icon ion-monitor"></i>
	          Watch Sharescreen
	        </ion-item>
      </ion-list>
	</ion-content>
</ion-popover-view>