<html lang="en" ng-app="StarterApp">

<head>

    <title>MindDrop</title>
    
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="favicon.png">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="styles/stylesheet.css">

    <script type="text/javascript">
        if (window.localStorage && window.localStorage['username'] && window.localStorage['userid'] && window.localStorage['usersession']) {
            var http = new XMLHttpRequest();
            var url = "http://drop.buildmind.org/auth";
            var params = {
                username:window.localStorage['username'],
                userid:window.localStorage['userid'],
                usersession:window.localStorage['usersession'],
            }
            http.open("POST", url, true);
            //Send the proper header information along with the request
            http.setRequestHeader('Content-Type', 'application/json');
            http.onreadystatechange = function() {//Call a function when the state changes.
                if(http.readyState == 4) {
                    if (http.status == 200) {
                        console.log('auth success')
                    }
                    else {
                        console.log('auth error!')
                    }
                }
            }
            http.send(JSON.stringify(params));
        }
        else {
            console.log('no localStorage!')
            // window.location.replace('http://drop.buildmind.org/auth');
        }
    </script>
</head>

<body layout="column" ng-controller="TonyCholDropFileCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Droplr</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 md-padding" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-content layout="column" class="md-padiding">
                DROP HERE
                <md-button class="md-primary md-raised">Upload file</md-button>
                <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"accept="image/*,application/pdf">
                        <span class="drop--box-text">Drop here or click to upload</span>
                </div>

            </md-content>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="row" flex class="md-padding" style="flex-wrap: wrap;">
                <drop-file ng-repeat="file in dropFiles" file="file"></drop-file>
            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- Script for upload file: https://github.com/danialfarid/ng-file-upload -->
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>

    <script>
    var app = angular.module('StarterApp', ['ngMaterial', 'tonychol.imageviewDirective','MindDrop.drop'])
    .factory('AuthInterceptor',['$rootScope','$location',function($rootScope,$location){
      return {
        request:function(request){
            if (request.method=="POST") {
                request.data.username=window.localStorage['username'];
                request.data.userid=window.localStorage['userid'];
                request.data.usersession=window.localStorage['usersession'];
            }
            return request;
        }
      }
    }])
    .config(['$httpProvider',function($httpProvider) {
        $httpProvider.interceptors.push('AuthInterceptor');
    }])


    </script>
    <script src="scripts/directives/tonycholImageviewDirective.js"></script>

    <script src="scripts/drop.auth.js"></script>

</body>

</html>