<html lang="en" ng-app="StarterApp">

<head>
    <link rel="stylesheet" href="lib/css/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="styles/stylesheet.css">
</head>

<body layout="column" ng-controller="TonyCholDropFileCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Droplr</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding"  style="flex-wrap: wrap;">
            <drop-file ng-repeat="file in dropFiles" file="file"></drop-file>
            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-animate.min.js"></script>
    <script src="lib/js/angular-aria.min.js"></script>
    <script src="lib/js/angular-material.min.js"></script>
    <script>
    var app = angular.module('StarterApp', ['ngMaterial','tonychol.imageviewDirective']);
    </script>
    <script src="scripts/directives/tonycholImageviewDirective.js"></script>
</body>

</html>